{% extends 'myapp/home.html' %}
{% block content %}

<h2>{{ pdf.id|default:"Upload New PDF" }}</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Title:</label>
    <input class="form-control" name="title" value="{{ pdf.title|default:'' }}"><br>

    <label>PDF File:</label>
    <input class="form-control" type="file" name="pdf_file"><br>

    {% if pdf %}
        <p>Current File: <a href="{{ pdf.pdf_file.url }}" target="_blank">View</a></p>
    {% endif %}

    <button class="btn btn-success mt-3">Save</button>
</form>

{% endblock %}
