{% extends 'myapp/base.html' %}
{% block content %}
<h2>Reading Skills</h2>

<a href="{% url 'skills_create' %}" class="btn btn-primary mb-3">+ Add Skill</a>

<table class="table table-bordered">
    <tr><th>Title</th><th>Actions</th></tr>
    {% for s in skills %}
    <tr>
        <td>{{ s.title }}</td>
        <td>
            <a class="btn btn-warning btn-sm" href="{% url 'skills_edit' s.id %}">Edit</a>
            <a class="btn btn-danger btn-sm" href="{% url 'skills_delete' s.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
